html {
	padding-top: 5px;
	background-image: url(background.jpg);
}

body {
	width: 75%;
	padding: 40px;
	margin: 15px auto;
	background-color: #EBEBEB;
	border-radius: 30px;
}

h1 {
	color: #3A0470;
	font-size: 2em;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

h2 {
	color: #3A0470;
	font-size: 1.7em;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: #3A0470;
	font-size: 1.3.em;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}
p {
	color: #3A0470;
	font-size: 25px;
	line-height: 150%;
	margin-top: 20px;
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}